@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,600,700');

/* NORMALIZE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* END NORMALIZE */

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', sans-serif;
}

header {
  height: 120px;
  width: 100%;
  background-color: #03A9F4;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  color: #ffffff;
}

.header-logo {
  width: 60px;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-item-left {
  margin-left: 30px;
  float: left;
}

.header-item-right {
  margin-right: 30px;
  float: right;
}

#page-content-wrapper {
  text-align: center;
  padding: 60px 0 60px 30px;
  margin: 0 auto;
}

#info {
  margin-top: 30px;
}

svg {

}

#container {
  margin-bottom: 30px;
}


.tooltip {
  font-size: 1em;
  margin-bottom: 15px;
}

/* Styling for switch slider: Referenced some CodePen pens, but coded myself */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: #03A9F4;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #03A9F4;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Credit: http://tobiasahlin.com/spinkit/ */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
